* {
    list-style: none;
}

/* Hero */
nav li a{
    color: #fff;
    text-decoration: none !important;
}
#hero {
    height: 100vh;
    background-image: url(hero.svg);
    background-position: center center;
}
#hero h1 {
    font-size: 60px;
}
.hero-text {
    margin-top: 100px;
    line-height: 0.8;
}
.hero-buttons button{
    font-size: 14px !important;
    font-weight: 500;
    border: 0;
}

/* Showcase */
#showcase {
    color: #fff;
}
.showcase-pic {
    background-image: url(showcase.jpg);
    background-size: contain;
}


/* Service Start */
.service-row {
    display: flex;
    column-gap: 24px;
    justify-content: center;
}
.service-grid {
    width: 90%;
}
.service-img {
    height: 200px;
    background: #5d5d5d;
}

/* Team Image */
.instructor-name {
    width: 80%;
    left: 10%;
    top: 90%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#team {
    background: #fafafa !important;
}

/* Prompt Image */
#prompt {
    background-image: url(prompt.jpg);
    /* background-position: center center; */
    background-size: cover;
    background-repeat: no-repeat; color: #fff;
}
.prompt-text {
    /* height: 500px; */
    /* background: gainsboro; */
    padding-top: 15%;
}