/* Fonts Addition */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

/* nav.navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} */

.dropdown-toggle::after {
    display: none;
}

.navbar-nav {
  column-gap: 30px;
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    color: black;
    /* font-size: 14px; */
    font-weight: 600;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #CC0000;
  border: 1px solid #CC0000;
  border-radius: 6px;
  box-shadow: #93373770;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #060079;
  border: 1px solid #060079;
}

.button-3:focus {
  box-shadow: #06007930;
  outline: none;
}

.button-3:active {
    background-color: #060079;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.carousel-caption-1 {
    width: 30%;
    top: 30%;
}

.carousel-caption-1 h2 {
    color: #060079;
}

/* hero */
.hero-btn {
    border: 1px solid #CC0000;
    background: none;
    color: #CC0000;
    border-radius: 8px;
    padding: 10px 30px;
    transition: background 0.5s ease-in 100ms;
}

.hero-btn:hover {
    background: #CC0000;
    color: #fff;
}

@media(max-width: 769px) {
  .carousel-caption-1 {
    width: 36%;
    top: 0%;
}
.carousel-caption-1 h2 {
  font-size: 24px;
}
}

/* Values */
.value-card {
  padding: 35px 20px;
  border: #b5404047 3px solid;
  transition: background 0.3s ease-in 60ms;
}

.value-card:hover {
  background: #CC0000;
  color: #fff;
}

.card-title {
  text-align: left;
  font-weight: bold;
}

.value-paragraph {
  text-align: justify;
  text-justify: inter-word;
}

.card-icon {
  height: 60px;
  align-self: start;
}

/* #brief */
#brief {
  background-image: url(img/brief.png);
  height: 520px;
}

#brief .hero-btn {
  border: 1px solid #060079;
  background: none;
  color: #060079;
  border-radius: 8px;
  padding: 10px 30px;
  transition: background 0.5s ease-in 100ms;
}

#brief .hero-btn:hover {
  background: #060079;
  color: #fff;
}

/* #housing */
.section-sub {
  color: #060079;
}

.housing-card {
  border: none;
  border-top: 1px solid rgb(200, 200, 200);
  border-radius: 0;
}

.housing-card:hover {
  background: #060079;
  color: #fff;
}

.card-holder {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-link {
  color: #ff0000;
}

.housing-bg {
  background-image: url(img/housing.jpg);
  background-position: center center;
}